@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+AU+TAS:wght@100..400&display=swap');

:root {
    --main-color: #0ab68b;
    --main-color-90: hsla(165, 93%, 90%, 100%);
    --main-color-80: hsla(165, 93%, 80%, 100%);
    --main-color-70: hsla(165, 93%, 70%, 100%);
    --main-color-60: hsla(165, 93%, 60%, 100%);
    --main-color-45: hsla(165, 93%, 45%, 100%);
    --light-green: #d9ef82;
    --main-green: #b5d43b;
    --main-green: hsla(72, 64%, 53%, 100%);
    --main-green-40: hsla(72, 64%, 80%, 100%);
    --main-green-80: hsla(72, 64%, 80%, 100%);
    --main-green-90: hsla(72, 64%, 90%, 100%);
    --main-green-95: hsla(72, 64%, 95%, 100%);
    --pale-orange: #ffd4ab;
    --pale-orange-95: hsl(29, 95%, 95%);
    --light-gray: #f7f7f7;
    --white: #ffffff;
    --black: #000000;
    --chinese-black: #161616;
    --chinese-black-30: hsla(0, 0%, 9%, 30%);
    --chinese-black-70: hsla(0, 0%, 9%, 70%);
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playwrite-au-tas {
    font-family: "Playwrite AU TAS", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.er-text-main {
    color: var(--main-color) !important;
}

.er-text-dark {
    color: var(--chinese-black) !important;
}


.er-text-light {
    color: var(--light-gray) !important;
}

.er-text-green {
    color: var(--main-green) !important;
}

.er-text-pale-orange {
    color: var(--pale-orange) !important;
}

.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-main-title {
    font-size: 48px;
}

.btn-bg-chinese {
    background-color: var(--chinese-black);
    color: var(--main-green);

    &:hover {
        background-color: var(--main-green) !important;
        color: var(--chinese-black);
    }
}

.btn-bg-main{
    background-color: var(--main-color)!important ;
    color: var(--light-gray);
}
.btn-bg-main:hover{
    background-color: var(--main-color-45) !important;
    color: var(--light-gray);
}
.btn-bg-green-1 {
    background-color: var(--main-green);
    color: var(--chinese-black);

    &:hover {
        background-color: var(--chinese-black) !important;
        color: var(--main-green);
    }
}


.btn-bg-green-2 {
    background-color: var(--main-green);
    color: var(--chinese-black);

    &:hover {
        background-color: var(--main-green-40) !important;
        color: var(--light-gray);
    }
}

.bg-chinese {
    background-color: var(--chinese-black);
    color: var(--main-green);
}

.bg-green {
    background-color: var(--main-green);
    color: var(--chinese-black);
}
.bg-green-95 {
    background-color: var(--main-green-95);
    color: var(--chinese-black);
}

.bg-green-80 {
    background-color: var(--main-green-80);
    color: var(--chinese-black);
}
.er-header {
    ul.navbar-nav {
        justify-content: flex-end;
        flex: 0 0 100%;

        .nav-link {
            border-radius: 50px;
            transition: background-color 0.25s ease-in, color 0.25s ease-in;
            &.active, &:active {
                background-color: var(--main-green);
                color: var(--light-gray);
                &:hover {
                    background-color: var(--main-green);
                }
            }
            &:hover, &.hover {
                background-color: var(--main-green-80);
            }
        }
    }
}

.er-form {
    .form-control {
        border-color: var(--chinese-black);
        background-color: var(--main-green-95);
        &:focus {
            border-color: var(--main-green);
            box-shadow:  0 0 .25rem var(--main-color);
        }
        &.is-invalid {
             border-color: var(--bs-form-invalid-border-color) !important;

        }

        &.is-invalid:focus {
            border-color: var(--bs-form-invalid-border-color) !important;
            box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb),.25);
        }
    }

    .form-check-input:checked {
        background-color: var(--main-green);
        border-color: var(--chinese-black);
    }
}


.er-hb .hbi-container {
    display: flex;
    align-items: center;
    height: 600px;
}

.er-fyw-form .form-control {
    transition: background-color .3s ease;
}

.er-fyw-form .form-control:hover, .er-fyw-form .form-control.hover, 
.er-fyw-form .form-control:focus, .er-fyw-form .form-control.focus {
    background-color: var(--main-green-80) !important;
    box-shadow: none;
}

.er-v-end-divider {
    border-right: 1px solid var(--main-green);
}

@media (max-width: 767.98px) {
    .er-fyw-form .input-container {
        border-radius: 0 !important;
        padding-top: 20px !important;
        margin-bottom: 1rem;
    }

    .er-fyw-form input:not(.btn) {
        border: 1px solid var(--chinese-black-30) !important;
        margin-bottom: 12px;
    }

    .er-fyw-form input.btn {
        border-radius: 50rem !important;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    grid-gap: 10px;
    margin: 0 auto;
}

.grid-item {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    display: block;
}

.grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-item-2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.grid-item-3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid-item-4 {
    grid-column: 2/4;
    grid-row: 2/4;
}

.testimonials-wrapper {
    padding: 40px 0;
}

.sub-heading{
    color: var(--main-green-40);
    letter-spacing: 2px;
}

.testimonial-box {
    display: block;
    position: relative;
    padding: 30px 20px;
    background-color: var(--main-green-80);
    border: 1px solid rgba(0,0,0, 0.03);
    border-radius: 4px;
    box-shadow: 0 0 20px var(--main-green-90);
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    position: relative;
    min-width: 80px;
    margin: 12px auto;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    left: 12px;
    color: var(--main-green-40);
    font-size: 28px;
}

.user-name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.user-note {
    color: var(--main-green-40);
    font-size: 14px;
}

.carousel-testimonial .owl-nav {
    text-align: center;
}

.carousel-testimonial .owl-nav button.owl-next,
.carousel-testimonial .owl-nav button.owl-prev {
    padding: 0 12px !important;
}

.carousel-testimonial .owl-nav button {
    outline: none;
    padding: 0;
}

.carousel-testimonial .owl-nav button.owl-next span,
.carousel-testimonial .owl-nav button.owl-prev span {
    display: block;
    font-size: 40px;
    width: 25px;
    height: 25px;
    line-height: 16px;
}

.carousel-testimonial .owl-nav button.owl-next.disabled,
.carousel-testimonial .owl-nav button.owl-prev.disabled {
    opacity: 0.5;
}

.address-autocomplete {
    position: relative;
}

.autocomplete-results {
    position:absolute;
    top: 120%;
    left: 0;
    right: 0;
    width: max-content;
    padding: 8px 20px;
    background-color: var(--light-gray);
    color: var(--chinese-black-70);
    border: 1px solid var(--chinese-black-30);
    border-radius: 8px;
    border-top: none;
    max-height: 360px;
    overflow-y: auto;
    z-index: 10;
    display: none;
}

.autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid var(--main-color-80);
    transition: background-color .25s ease;
}

.autocomplete-item:hover {
    background-color: var(--main-color-90);
}

.autocomplete-item:last-child {
    border-bottom: none;
}